@import "../../index.scss";

.portfolio-wrapper__chart-wrapper {
  display: flex;
  align-items: center;
}

.chart-wrapper__icon {
  height: 30px;
  width: 30px;
}

.chart-wrapper__name {
  display: none;

  @include tablet {
    display: unset;
    font-size: 18px;
    margin: 0 24px;
    flex: 1;
  }
}

.chart-wrapper__chart {
  display: none;

  @include tablet {
    display: unset;
    flex: 1;
  }

  @include desktop {
    display: none;
  }

  @include chartHandler {
    display: unset;
  }
}

.chart-wrapper__quantity,
.chart-wrapper__value {
  flex: 1;
  text-align: end;
}
