@import "../../index.scss";

.mobile-nav {
  display: flex;
}

.burger-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  margin-left: 36px;
  margin-top: 18px;

  &:focus {
    outline: none;
  }
}

.burger-patty {
  width: 2rem;
  height: 0.25rem;
  background: $mid-gray;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.top-patty-x {
  opacity: 0%;
}

.middle-patty-x {
  transform-origin: center;
  transform: translateY(7px) rotate(-45deg);
}

.bottom-patty-x {
  transform-origin: center;
  transform: translateY(-4px) rotate(45deg);
}
