@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

$base-gray: #f1f4ff;
$mid-gray: #9b9b9b;
$text-black: #464849;
$base-white: #ffffff;

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

@mixin phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

html,
body {
  width: 100%;
  color: $text-black;
  letter-spacing: 1px;
  background-color: $base-gray;
  overflow-x: hidden;
  font-family: "Roboto";
  margin: 0;
}
