@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

$base-black: #18191d;

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: $base-black;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
